// ----------------------------- Light -----------------------------
.theme-light {
  background-color: map-get($colors, "white");
  color: map-get($colors, "black");

  a {
    color: map-get($colors, "black");
  }

  #pageNote > .noteList > div {
    background-color: map-get($colors, "light");
  }
}

// ----------------------------- Dark -----------------------------
.theme-dark {
  background-color: map-get($colors, "dark");
  color: map-get($colors, "white");

  a {
    color: map-get($colors, "white");

    &:hover {
      color: map-get($colors, "clear-blue");
    }
  }

  .burger-icon {
    span {
      background-color: map-get($colors, "white");
    }
  }

  .show-nav {
    background-color: map-get($colors, "dark");

    a {
      color: map-get($colors, "white");
    }
  }

  #pageNote {
    div.noteList > div > div.button > button:hover {
      color: map-get($colors, "white") !important;
    }

    .popup {
      label {
        color: map-get($colors, "black") !important;
      }
    }

    button {
      background-color: map-get($colors, "light");

      &:hover {
        background-color: map-get($colors, "gray");
      }
    }

    .noteList > div {
      background-color: map-get($colors, "gray");
    }
  }
}

// ----------------------------- Classic -----------------------------
.theme-classic {
  background-color: map-get($colors, "soft-light");
  color: map-get($colors, "black");

  a {
    color: map-get($colors, "black");
  }

  #pageNote > .noteList > div {
    background-color: map-get($colors, "light");
  }
}
