@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// Size
$default-size: 1rem;

// Colors
$general-blue: #002293;
$general-black: #000000;
$general-white: #ffffff;

// Position
$top-bot: 1em 0 1em 0;
$left-right: 0 1em 0 1em;

// Map
$container-sizes: (
  1: 10%,
  10: 100%,
);

$position: (
  "top": "top",
  "bot": "bottom",
  "left": "left",
  "right": "right",
);

$text-sizes: (
  "s": $default-size * 0.75,
  "m": $default-size * 1,
  "l": $default-size * 1.5,
  "xl": $default-size * 2,
  "xxl": $default-size * 3,
);

// Font
$main-font: "Roboto", sans-serif;
