nav {
  display: flex;
  flex-direction: row-reverse;
  width: map-get($container-sizes, 10);
  ul {
    display: flex;
    padding: $left-right;
    margin: $top-bot;
    li {
      padding: $left-right;
      list-style: none;
      a {
        color: color();
        text-decoration: none;
        &:hover {
          color: color("blue");
        }
      }
    }
  }
}
