#pagePlantes {
  .allPlants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;

    .card {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 15em;
      height: 17em;
      background: map-get($colors, "white");
      border-radius: 30px;
      box-shadow: 15px 15px 30px map-get($colors, "light"),
        -15px -15px 30px map-get($colors, "white");
      transition: 0.2s ease-in-out;
    }

    .img {
      width: 100%;
      height: 50%;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      display: flex;
      align-items: top;
      justify-content: right;
    }

    .text {
      margin: 20px;
      display: flex;
      flex-direction: column;
      align-items: space-around;
    }

    .text .h3 {
      font-family: "Lucida Sans" sans-serif;
      font-size: 15px;
      font-weight: 600;
      color: map-get($colors, "black");
    }

    .text .p {
      font-family: "Lucida Sans" sans-serif;
      color: map-get($colors, "gray");
      font-size: 13px;
    }

    .card:hover {
      cursor: pointer;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    }
  }

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }

  .popup-content {
    background-color: white;
    padding: 2em;
    border-radius: 30px;
    box-shadow: 15px 15px 30px map-get($colors, "light"),
      -15px -15px 30px map-get($colors, "white");
    max-width: 600px;
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;

    p {
      margin-bottom: 0.5em;
      font-size: map-get($sizes, "");
      border-bottom: dashed map-get($colors, "light");
    }
  }
}
