#pagePlantes {
  .allPlants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .plant {
      display: flex;
      flex-direction: column;
      border: 2px solid;
      border-radius: 1em;
      padding: 1em;
      margin: 1em;

      .detail-label {
        font-weight: bold;
      }

      .plant-id,
      .plant-createdAt,
      .plant-updatedAt,
      .plant-imageUrl,
      .plant-userId {
        display: none;
      }

      div {
        margin-bottom: 0.5em;
      }

      img {
        width: 10em;
        height: 10em;
        object-fit: cover;
      }
    }
  }

  @media (min-width: 768px) {
    .allPlants {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .plant {
        width: 40%;
      }
    }
  }

  @media (min-width: 1200px) {
    .allPlants {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .plant {
        width: 29%;
      }
    }
  }
}
